<div class="body-wrapper">
  <% if @user.avatar_file_name %>
    <%= image_tag @user.avatar.url(:medium) %>
  <% end %>
   <h3><%= @user.full_name %>'s questions</h3>
   <% @questions.each do |question| %>
    <p class="question-show"><%= question.title %></p>
   <% end %>
  
    <h3>Add a Question</h3>

    <div class="question_form">
    <%= form_for ([@user, @user.questions.build]) do |f| %>
    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>
  
    <p>
      <%= f.label :rate %>
      <%= f.check_box :integer_answers %>
    </p>
  
    <p>
      <%= f.label :complete? %>
      <%= f.check_box :boolean_answers %>
    </p>
  
    <p>
      <%= f.label :summary %>
      <%= f.check_box :text_answers %>
    </p>
  
    <%= f.hidden_field :user_id, value: current_user.id %>
  
    <%= f.submit "submit" %>
    <% end %>
  </div>
</div>