<div class="transparent">
  <div class="register_form">
  
    <%= form_for :user, url: user_path, html: {  multipart: true } do |f| %>
      <p>
      <div class="log-label shadow">
        <%= f.label :first_name %> 
      </div><br>
      <div class="log-form">
        <%= f.text_field :first_name, placeholder: '  Tom', required: true,  autofocus: true  %>
      </div>
      </p>
    
      <p>
      <div class="log-label shadow">
        <%= f.label :last_name %>
      </div><br>
      <div class="log-form">
        <%= f.text_field :last_name, placeholder: ' Jackson', required: true,  autofocus: true   %>
      </div>
      </p>
    
      <p>
      <div class="log-label shadow">
        <%= f.label :email %>
      </div> <br>
      <div class="log-form">
        <%= f.text_field :email, placeholder: 'tomj@gmail.com',  required: true, autofocus:   true %>
      </div>
      </p>
  
      <p>
      <div class="log-label shadow">
        <%= f.label :phone_number %>
      </div> <br>
      <div class="log-form">
        <%= f.text_field :phone_number, placeholder: '(510)867-5309', required: true, autofocus:     true %>
      </div>
      </p>
    
      <p>
      <div class="log-label shadow">
        <%= f.label :password %> 
      </div><br>
      <div class="log-form">
        <%= f.password_field :password, placeholder: '  password', required: true,  autofocus: true   %>
      </div> <br>
      <div class="log-label shadow">
        <%= f.label :picture %> 
      </div><br>
      </p>
        <div class="image-button">
          <%= f.file_field :avatar %>
        </div>
      
      <div class="log-button">
        <%= f.submit "Register" %>
      </div>
    
    <% end  %>
  
  </div>
</div>