<div class="body-wrapper">
  <h1>Stats</h1>
   <div id="map">
    </div>
  <% @questions.each do |question| %>
    <p><%= question.title %> <br>
    
    <% if question.integer && question.integer_answers.last_seven_days.any? %>
      average rating: <%= question.average_rating.to_s[0..3] %><br>
    
    <% elsif question.boolean && question.boolean_answers.last_seven_days.any? %>
      completed: <%= question.total_boolean_responses %> time(s) in the last 7 days <br> 

    <% elsif question.text && question.text_answers.last_seven_days.any? %>
      <%= question.created_time %> <br>
      Answer characters: <%= question.answer_characters %> <br>
      Words used: <%= question.word_count%>
  
    <% end %>
    </p>   
  <% end %>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClRlqdx0umR1_F6izXYYFExsl5eYUG4p8&callback=initMap">
    </script>
<div>
