<div class="body-wrapper">
  <h1 class="page-title">Weekly Stats</h1>
   <div id="map"></div>
    <br>
    <div class="slideshow">
    <%= render partial: "slideShow" %>
    </div>
    <% @questions.each do |question| %>
      <p class="question-title"><%= question.title %></p> <br>
      
      <% if question.integer && question.integer_answers.last_seven_days.any? %>
      <p class="average-tag">Average Rating:</p>
        <div class="all-stars">
        
          <% question.average_rating.times do %>
            <div class="stars">
              <i class="fa fa-star red"></i>
            </div>
          <% end  %>

          <% (5 - question.average_rating).times do%>
            <div class="stars">
              <i class="fa fa-star grey"></i>
            </div>
          <% end  %>

        </div>
      <% end %>

      <% if question.boolean && question.boolean_answers.last_seven_days.any? %>
        <div class="all-checks">
          <% day_check(question).reverse.each do |day| %>
            <% if day.values[0] == true %>
              <div class="checks">
                <p><%= day.keys[0] %></p>
                <i class="fa fa-check-square-o red "></i>            
              </div>
            <% else %>
            <div class="checks">
            <p><%= day.keys[0] %></p>
              <i class="fa fa-square-o "></i> 
            </div>
            <% end  %>
          <% end %>
        </div>
      <% end %>

      <% if question.text && question.text_answers.last_seven_days.any? %>
        <div class="all-texts">
          <% day_check_text(question).each do |day| %>        
            <% if day.values[0] %>
              <div class="single-text">
                <p><%= day.keys[0] %> - <%= day.values[0] %></p>
              </div>
            <% end %>
          <% end  %>
        </div>
      <% end  %>
    <% end %>
    </div>


    <script async defer
    <% key = ENV['GOOGLE_KEY'] %>
      src="https://maps.googleapis.com/maps/api/js?key=<%= key %>&callback=initMap">
    </script>
    <script>
      var slideIndex = 0;
      showSlides();

      function showSlides() {
          var i;
          var slides = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("dot");
          for (i = 0; i < slides.length; i++) {
             slides[i].style.display = "none";  
          }
          slideIndex++;
          if (slideIndex> slides.length) {slideIndex = 1}    
          for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "")      ;
          }
          slides[slideIndex-1].style.display = "block";  
          dots[slideIndex-1].className += " active";
          setTimeout(showSlides, 5000);
      }
    </script>
</div>
